<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.system.mapper.LoginMapper">
    <select id="loginStudent" resultType="Student">
        SELECT studentid FROM students WHERE studentid=#{username} AND spassword=#{password}
    </select>
    <select id="loginTeacher" resultType="Teacher">
        SELECT teacherid FROM teachers WHERE teacherid=#{username} AND tpassword=#{password}
    </select>
</mapper>